.App {
    text-align: center;
    margin-top: 3em;
    margin-left: 5em;
    margin-right: 5em;
  }
  
  .ui.main.container{
    margin-top: 5em;
  }

.companyName{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: fantasy;
}
